$white: #FFFFFF;
$greenDefault: #26BA99;
$greenDefault2: #1a967b;
$red: #cc5e5e;
$orange: rgb(255, 166, 0);
$blackDark: #000000;
$blackLight: #414141;
$grayLight: #ECECEC;
$grayDark: #949494;
$shadow: rgba(0, 0, 0, 0.18);
