
$xs: screen and (max-width: 480px);
$sm: screen and (max-width: 576px);
$md: screen and (max-width: 768px);
$lg: screen and (max-width: 992px);
$tablet: screen and (min-device-width : 600px) and (max-device-width : 1024px);
$smallRes: screen and (min-device-width : 600px) and (max-device-width : 1440px);

